.container {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 19px;
  padding: 0 10px;
  width: 300px;
}

input[type='date']::before {
  color: #aaa;
  content: attr(placeholder) ': ';
  margin-right: 0.5em;
}

input[type='date']:focus::before {
  /* stylelint-disable declaration-no-important */
  content: '' !important;
}
