.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 70px 60px;
}

.date-container {
  display: flex;
  flex-basis: 50%;
}

.date-margin {
  margin-right: 30px;
  flex-basis: 50%;
}

.input-flex {
  flex-basis: 25%;
}

.date-flex {
  flex-basis: 50%;
}
