.active {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.inactive {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.grid {
  margin: 0 70px;
  display: grid;
  grid-template-columns: 15% 23% 15% 15% 15% 17%;
}

.grid > span {
  padding: 16px;
}
